@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

p {
    font-size: 50px;
    font-family: 'Nerko One', cursive;
    font-weight: 200; /*Grosor de la fuente*/
    font-style: italic;
}