div {
    width: 200px;
    padding: 20px 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: mediumturquoise;
    text-align: center;
    font-weight: bold;
    color: white;
}

div:hover {
    transform: skew(25deg, 10deg);
}