div {
    width: 400px;
    height: 150px;
    background-color: mediumseagreen;
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 150px;
}

div:hover {
    transform: translate(750px, 50px);
}